<h1>Добро пожаловать на сайт компании Алтай-Тур.</h1>
<div class="slides">
  <img
    src="img/main-1.jpg"
    class="index-img"
    id="block"
    title="Сплав по реке Катунь"
  />
  <img src="img/main-2.jpg" class="index-img" title="Телецкое озеро" />
  <img src="img/main-3.jpg" class="index-img" title="Прогулки на катере" />
  <img src="img/main-4.jpg" class="index-img" title="Прогулки на катере" />
  <br />
  <div class="btn">
    <button id="btnLeft">&#11013;</button>
    <!-- пробел между кнопками -->
    &ensp;
    <button id="btnRight">&#10145;</button>
  </div>
  <br />
</div>
