<link rel='stylesheet' href='css/map.css'></head></body>

    <body><figure><h1>Карта сайта</h1><dl class='holiday'>
<dt>Главная</dt><dd><ul><li><a href='index.php'>index.php</a></li></dd>
<dt>Алтай-Тур - Контакты</dt><dd><ul><li><a href='contact.php'>contact.php</a></li></ul></dd>
<dt>Алтай-Тур - Услуги</dt><dd><ul><li><a href='services.php'>services.php</a></li></ul></dd>
<dt>Алтай-Тур - Активный туризм</dt><dd><ul><ul><li><a href='tours-active.php'>tours-active.php</a></li></ul></ul></dd>
<dt>Алтай-Тур - Туры по Алтаю</dt><dd><ul><ul><li><a href='tours-altay.php'>tours-altay.php</a></li></ul></ul></dd>
<dt>Алтай-Тур - Туры по россии</dt><dd><ul><ul><li><a href='tours-russia.php'>tours-russia.php</a></li></ul></ul></dd>
</ul></dl></figure>