<form action="subscribe.php" method="POST">
    <h3>Подписаться на рассылку Алтай-Тур</h3>
    <label for="first_name">Имя:</label>
    <input type="text" name="first_name" size="20" placeholder="Имя">
    <label for="last_name">Фамилия:</label>
    <input type="text" name="last_name"size="20" placeholder="Фамилия">
    <label for="email">Адрес эл. почты:</label>
    <input type="text" name="email" size="50" placeholder="Электронный адрес">
    <input type="submit" class="submit" value="Подписаться">
    <input type="reset" class="submit" value="Очистить">
</form>