<p><!-- Пустая строка --></p>
<p class="text-success">Пример №1. Адаптивная таблица в Bootstrap</p>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="table-success">
        <h4 class="text-center">Тариф "Бесплатно"</h4>
      </th>
      <th class="table-info">
        <h4 class="text-center">Тариф "Стандарт"</h4>
      </th>
      <th class="table-danger">
        <h4 class="text-center">Тариф "Премиум"</h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><h5 class="text-center">₽ 0</h5></th>
      <th><h5 class="text-center">₽ 50</h5></th>
      <th><h5 class="text-center">₽ 100</h5></th>
    </tr>
    <tr>
      <th><h6>PHP 8.0</h6></th>
      <th><h6>PHP 8.0</h6></th>
      <th><h6>PHP 8.0</h6></th>
    </tr>
    <tr>
      <th><h6>MYSQL 8.0</h6></th>
      <th><h6>MYSQL 8.0</h6></th>
      <th><h6>MYSQL 8.0</h6></th>
    </tr>
    <tr>
      <th><h6>PHPMYADMIN 5.0</h6></th>
      <th><h6>PHPMYADMIN 5.0</h6></th>
      <th><h6>PHPMYADMIN 5.0</h6></th>
    </tr>
    <tr>
      <th><h6>-</h6></th>
      <th><h6>Домен в подарок*.ru</h6></th>
      <th><h6>Домен в подарок*.ru</h6></th>
    </tr>
    <tr>
      <th><h6>-</h6></th>
      <th><h6>-</h6></th>
      <th><h6>Почтовый сервет SMTP</h6></th>
    </tr>
    <tr>
      <th><a href="#" class="btn btn-success btn-block col-12">Заказать</a></th>
      <th><a href="#" class="btn btn-info btn-block col-12">Заказать</a></th>
      <th><a href="#" class="btn btn-success btn-block col-12">Заказать</a></th>
    </tr>
  </tbody>
</table>
